button 
{
	font-family: Arial;
	color: white;
	text-align: center;
	background-color: dodgerblue;
	font-size: 20px;
	font-weight: bold;
	border-width: 2px;
	border-color: dodgerblue;
	border-style: solid;
	border-radius: 5px;

}


